@charset "UTF-8";
/*
build: v1.21.0
design-tokens: v1.21.0
*/

@layer ds.theme.size-mode {
:root /* small */ {
  --ds-size-mode-font-size--sm: 1;
}
}

@layer ds.theme.size-mode {
:root /* medium */ {
  --ds-size-mode-font-size--md: 1.125;
}
}

@layer ds.theme.size-mode {
:root /* large */ {
  --ds-size-mode-font-size--lg: 1.3125;
}
}

@layer ds.theme.size-mode {
:root, [data-size] {
  --ds-size: var(--ds-size--md);
  --ds-size--sm: var(--ds-size,);
  --ds-size--md: var(--ds-size,);
  --ds-size--lg: var(--ds-size,);
  --ds-size-mode-font-size:
    var(--ds-size--sm, var(--ds-size-mode-font-size--sm))
    var(--ds-size--md, var(--ds-size-mode-font-size--md))
    var(--ds-size--lg, var(--ds-size-mode-font-size--lg));
}

[data-size='sm'] { --ds-size: var(--ds-size--sm); }
[data-size='md'] { --ds-size: var(--ds-size--md); }
[data-size='lg'] { --ds-size: var(--ds-size--lg); }
}

@layer ds.theme.type-scale {
:root, [data-size] {
  --_ds-font-size-factor: calc(var(--ds-size-mode-font-size) / (var(--ds-size-base) / 16));
  --ds-font-size-1: calc(0.75rem * var(--_ds-font-size-factor));
  --ds-font-size-2: calc(0.875rem * var(--_ds-font-size-factor));
  --ds-font-size-3: calc(1rem * var(--_ds-font-size-factor));
  --ds-font-size-4: calc(1.125rem * var(--_ds-font-size-factor));
  --ds-font-size-5: calc(1.3125rem * var(--_ds-font-size-factor));
  --ds-font-size-6: calc(1.5rem * var(--_ds-font-size-factor));
  --ds-font-size-7: calc(1.875rem * var(--_ds-font-size-factor));
  --ds-font-size-8: calc(2.25rem * var(--_ds-font-size-factor));
  --ds-font-size-9: calc(3rem * var(--_ds-font-size-factor));
  --ds-font-size-10: calc(3.75rem * var(--_ds-font-size-factor));
  --ds-heading-2xl-font-size: var(--ds-font-size-10);
  --ds-heading-xl-font-size: var(--ds-font-size-9);
  --ds-heading-lg-font-size: var(--ds-font-size-8);
  --ds-heading-md-font-size: var(--ds-font-size-7);
  --ds-heading-sm-font-size: var(--ds-font-size-6);
  --ds-heading-xs-font-size: var(--ds-font-size-5);
  --ds-heading-2xs-font-size: var(--ds-font-size-4);
  --ds-body-xl-font-size: var(--ds-font-size-6);
  --ds-body-lg-font-size: var(--ds-font-size-5);
  --ds-body-md-font-size: var(--ds-font-size-4);
  --ds-body-sm-font-size: var(--ds-font-size-3);
  --ds-body-xs-font-size: var(--ds-font-size-2);
  --ds-body-short-xl-font-size: var(--ds-font-size-6);
  --ds-body-short-lg-font-size: var(--ds-font-size-5);
  --ds-body-short-md-font-size: var(--ds-font-size-4);
  --ds-body-short-sm-font-size: var(--ds-font-size-3);
  --ds-body-short-xs-font-size: var(--ds-font-size-2);
  --ds-body-long-xl-font-size: var(--ds-font-size-6);
  --ds-body-long-lg-font-size: var(--ds-font-size-5);
  --ds-body-long-md-font-size: var(--ds-font-size-4);
  --ds-body-long-sm-font-size: var(--ds-font-size-3);
  --ds-body-long-xs-font-size: var(--ds-font-size-2);

  @supports (width: round(down, .1em, 1px)) {
    --ds-font-size-1: round(calc(0.75rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-2: round(calc(0.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-3: round(calc(1rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-4: round(calc(1.125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-5: round(calc(1.3125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-6: round(calc(1.5rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-7: round(calc(1.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-8: round(calc(2.25rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-9: round(calc(3rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-10: round(calc(3.75rem * var(--_ds-font-size-factor)), 1px);
  }
}
}
@layer ds.theme.color-scheme.light {
:root, [data-color-scheme="light"] {
  --ds-color-aibel-bright-blue-background-default: #ffffff;
  --ds-color-aibel-bright-blue-background-tinted: #f1f3fb;
  --ds-color-aibel-bright-blue-surface-default: #ffffff;
  --ds-color-aibel-bright-blue-surface-tinted: #e3e8f6;
  --ds-color-aibel-bright-blue-surface-hover: #d1daf1;
  --ds-color-aibel-bright-blue-surface-active: #bdcaeb;
  --ds-color-aibel-bright-blue-border-subtle: #abbbe5;
  --ds-color-aibel-bright-blue-border-default: #5575ca;
  --ds-color-aibel-bright-blue-border-strong: #2f56bf;
  --ds-color-aibel-bright-blue-text-subtle: #2f56bf;
  --ds-color-aibel-bright-blue-text-default: #002179;
  --ds-color-aibel-bright-blue-base-default: #0030B0;
  --ds-color-aibel-bright-blue-base-hover: #1f49ba;
  --ds-color-aibel-bright-blue-base-active: #3d61c3;
  --ds-color-aibel-bright-blue-base-contrast-subtle: #d3dbf1;
  --ds-color-aibel-bright-blue-base-contrast-default: #ffffff;
  --ds-color-aibel-blue-background-default: #ffffff;
  --ds-color-aibel-blue-background-tinted: #f2f4f6;
  --ds-color-aibel-blue-surface-default: #ffffff;
  --ds-color-aibel-blue-surface-tinted: #e5e9ee;
  --ds-color-aibel-blue-surface-hover: #d4dbe3;
  --ds-color-aibel-blue-surface-active: #c1cbd6;
  --ds-color-aibel-blue-border-subtle: #b1bdcb;
  --ds-color-aibel-blue-border-default: #627b98;
  --ds-color-aibel-blue-border-strong: #425f82;
  --ds-color-aibel-blue-text-subtle: #425f82;
  --ds-color-aibel-blue-text-default: #032b59;
  --ds-color-aibel-blue-base-default: #002857;
  --ds-color-aibel-blue-base-hover: #163b66;
  --ds-color-aibel-blue-base-active: #2d4e74;
  --ds-color-aibel-blue-base-contrast-subtle: #b2becd;
  --ds-color-aibel-blue-base-contrast-default: #ffffff;
  --ds-color-aibel-green-background-default: #ffffff;
  --ds-color-aibel-green-background-tinted: #f0f5f1;
  --ds-color-aibel-green-surface-default: #ffffff;
  --ds-color-aibel-green-surface-tinted: #e2ebe4;
  --ds-color-aibel-green-surface-hover: #d0ddd3;
  --ds-color-aibel-green-surface-active: #bbcfc0;
  --ds-color-aibel-green-border-subtle: #a9c2af;
  --ds-color-aibel-green-border-default: #51845e;
  --ds-color-aibel-green-border-strong: #2d693c;
  --ds-color-aibel-green-text-subtle: #2d693c;
  --ds-color-aibel-green-text-default: #15311c;
  --ds-color-aibel-green-base-default: #2E6B3D;
  --ds-color-aibel-green-base-hover: #255631;
  --ds-color-aibel-green-base-active: #1c4225;
  --ds-color-aibel-green-base-contrast-subtle: #dbe6de;
  --ds-color-aibel-green-base-contrast-default: #ffffff;
  --ds-color-aibel-neutral-background-default: #ffffff;
  --ds-color-aibel-neutral-background-tinted: #f3f3f4;
  --ds-color-aibel-neutral-surface-default: #ffffff;
  --ds-color-aibel-neutral-surface-tinted: #e8e8e9;
  --ds-color-aibel-neutral-surface-hover: #d9dadb;
  --ds-color-aibel-neutral-surface-active: #c9cacb;
  --ds-color-aibel-neutral-border-subtle: #bbbcbd;
  --ds-color-aibel-neutral-border-default: #77797b;
  --ds-color-aibel-neutral-border-strong: #5b5d60;
  --ds-color-aibel-neutral-text-subtle: #5b5d60;
  --ds-color-aibel-neutral-text-default: #292c30;
  --ds-color-aibel-neutral-base-default: #24272B;
  --ds-color-aibel-neutral-base-hover: #36383c;
  --ds-color-aibel-neutral-base-active: #484a4e;
  --ds-color-aibel-neutral-base-contrast-subtle: #b9babb;
  --ds-color-aibel-neutral-base-contrast-default: #ffffff;
  --ds-color-neutral-background-default: #ffffff;
  --ds-color-neutral-background-tinted: #f3f3f4;
  --ds-color-neutral-surface-default: #ffffff;
  --ds-color-neutral-surface-tinted: #e8e8e9;
  --ds-color-neutral-surface-hover: #d9dadb;
  --ds-color-neutral-surface-active: #c9cacb;
  --ds-color-neutral-border-subtle: #bbbcbd;
  --ds-color-neutral-border-default: #77797b;
  --ds-color-neutral-border-strong: #5b5d60;
  --ds-color-neutral-text-subtle: #5b5d60;
  --ds-color-neutral-text-default: #292c30;
  --ds-color-neutral-base-default: #24272B;
  --ds-color-neutral-base-hover: #36383c;
  --ds-color-neutral-base-active: #484a4e;
  --ds-color-neutral-base-contrast-subtle: #b9babb;
  --ds-color-neutral-base-contrast-default: #ffffff;
  --ds-color-info-background-default: #ffffff;
  --ds-color-info-background-tinted: #eff4ff;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #e0e9ff;
  --ds-color-info-surface-hover: #cbdaff;
  --ds-color-info-surface-active: #b4caff;
  --ds-color-info-border-subtle: #9fbbff;
  --ds-color-info-border-default: #4e75d4;
  --ds-color-info-border-strong: #3d5aa4;
  --ds-color-info-text-subtle: #3d5aa4;
  --ds-color-info-text-default: #1c2a4d;
  --ds-color-info-base-default: #5E8CFF;
  --ds-color-info-base-hover: #7fa4ff;
  --ds-color-info-base-active: #a0bbff;
  --ds-color-info-base-contrast-subtle: #010102;
  --ds-color-info-base-contrast-default: #000000;
  --ds-color-success-background-default: #ffffff;
  --ds-color-success-background-tinted: #f0f5f1;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #e2ebe4;
  --ds-color-success-surface-hover: #d0ddd3;
  --ds-color-success-surface-active: #bbcfc0;
  --ds-color-success-border-subtle: #a9c2af;
  --ds-color-success-border-default: #51845e;
  --ds-color-success-border-strong: #2d693c;
  --ds-color-success-text-subtle: #2d693c;
  --ds-color-success-text-default: #15311c;
  --ds-color-success-base-default: #2E6B3D;
  --ds-color-success-base-hover: #255631;
  --ds-color-success-base-active: #1c4225;
  --ds-color-success-base-contrast-subtle: #dbe6de;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #ffffff;
  --ds-color-warning-background-tinted: #fdf2e2;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #fbe6c5;
  --ds-color-warning-surface-hover: #f9d59e;
  --ds-color-warning-surface-active: #f6c171;
  --ds-color-warning-border-subtle: #f3af47;
  --ds-color-warning-border-default: #ad6900;
  --ds-color-warning-border-strong: #865100;
  --ds-color-warning-text-subtle: #865100;
  --ds-color-warning-text-default: #3f2600;
  --ds-color-warning-base-default: #EE9000;
  --ds-color-warning-base-hover: #d07e00;
  --ds-color-warning-base-active: #b26c00;
  --ds-color-warning-base-contrast-subtle: #231500;
  --ds-color-warning-base-contrast-default: #000000;
  --ds-color-danger-background-default: #ffffff;
  --ds-color-danger-background-tinted: #faf2ef;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #f6e5e0;
  --ds-color-danger-surface-hover: #f0d4cc;
  --ds-color-danger-surface-active: #e9c1b5;
  --ds-color-danger-border-subtle: #e3b0a1;
  --ds-color-danger-border-default: #c45838;
  --ds-color-danger-border-strong: #b12a00;
  --ds-color-danger-text-subtle: #b12a00;
  --ds-color-danger-text-default: #551400;
  --ds-color-danger-base-default: #B32A00;
  --ds-color-danger-base-hover: #902200;
  --ds-color-danger-base-active: #6f1a00;
  --ds-color-danger-base-contrast-subtle: #ffffff;
  --ds-color-danger-base-contrast-default: #ffffff;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #292c30;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}
 
@media (prefers-color-scheme: light) {
  [data-color-scheme="auto"] {
  --ds-color-aibel-bright-blue-background-default: #ffffff;
  --ds-color-aibel-bright-blue-background-tinted: #f1f3fb;
  --ds-color-aibel-bright-blue-surface-default: #ffffff;
  --ds-color-aibel-bright-blue-surface-tinted: #e3e8f6;
  --ds-color-aibel-bright-blue-surface-hover: #d1daf1;
  --ds-color-aibel-bright-blue-surface-active: #bdcaeb;
  --ds-color-aibel-bright-blue-border-subtle: #abbbe5;
  --ds-color-aibel-bright-blue-border-default: #5575ca;
  --ds-color-aibel-bright-blue-border-strong: #2f56bf;
  --ds-color-aibel-bright-blue-text-subtle: #2f56bf;
  --ds-color-aibel-bright-blue-text-default: #002179;
  --ds-color-aibel-bright-blue-base-default: #0030B0;
  --ds-color-aibel-bright-blue-base-hover: #1f49ba;
  --ds-color-aibel-bright-blue-base-active: #3d61c3;
  --ds-color-aibel-bright-blue-base-contrast-subtle: #d3dbf1;
  --ds-color-aibel-bright-blue-base-contrast-default: #ffffff;
  --ds-color-aibel-blue-background-default: #ffffff;
  --ds-color-aibel-blue-background-tinted: #f2f4f6;
  --ds-color-aibel-blue-surface-default: #ffffff;
  --ds-color-aibel-blue-surface-tinted: #e5e9ee;
  --ds-color-aibel-blue-surface-hover: #d4dbe3;
  --ds-color-aibel-blue-surface-active: #c1cbd6;
  --ds-color-aibel-blue-border-subtle: #b1bdcb;
  --ds-color-aibel-blue-border-default: #627b98;
  --ds-color-aibel-blue-border-strong: #425f82;
  --ds-color-aibel-blue-text-subtle: #425f82;
  --ds-color-aibel-blue-text-default: #032b59;
  --ds-color-aibel-blue-base-default: #002857;
  --ds-color-aibel-blue-base-hover: #163b66;
  --ds-color-aibel-blue-base-active: #2d4e74;
  --ds-color-aibel-blue-base-contrast-subtle: #b2becd;
  --ds-color-aibel-blue-base-contrast-default: #ffffff;
  --ds-color-aibel-green-background-default: #ffffff;
  --ds-color-aibel-green-background-tinted: #f0f5f1;
  --ds-color-aibel-green-surface-default: #ffffff;
  --ds-color-aibel-green-surface-tinted: #e2ebe4;
  --ds-color-aibel-green-surface-hover: #d0ddd3;
  --ds-color-aibel-green-surface-active: #bbcfc0;
  --ds-color-aibel-green-border-subtle: #a9c2af;
  --ds-color-aibel-green-border-default: #51845e;
  --ds-color-aibel-green-border-strong: #2d693c;
  --ds-color-aibel-green-text-subtle: #2d693c;
  --ds-color-aibel-green-text-default: #15311c;
  --ds-color-aibel-green-base-default: #2E6B3D;
  --ds-color-aibel-green-base-hover: #255631;
  --ds-color-aibel-green-base-active: #1c4225;
  --ds-color-aibel-green-base-contrast-subtle: #dbe6de;
  --ds-color-aibel-green-base-contrast-default: #ffffff;
  --ds-color-aibel-neutral-background-default: #ffffff;
  --ds-color-aibel-neutral-background-tinted: #f3f3f4;
  --ds-color-aibel-neutral-surface-default: #ffffff;
  --ds-color-aibel-neutral-surface-tinted: #e8e8e9;
  --ds-color-aibel-neutral-surface-hover: #d9dadb;
  --ds-color-aibel-neutral-surface-active: #c9cacb;
  --ds-color-aibel-neutral-border-subtle: #bbbcbd;
  --ds-color-aibel-neutral-border-default: #77797b;
  --ds-color-aibel-neutral-border-strong: #5b5d60;
  --ds-color-aibel-neutral-text-subtle: #5b5d60;
  --ds-color-aibel-neutral-text-default: #292c30;
  --ds-color-aibel-neutral-base-default: #24272B;
  --ds-color-aibel-neutral-base-hover: #36383c;
  --ds-color-aibel-neutral-base-active: #484a4e;
  --ds-color-aibel-neutral-base-contrast-subtle: #b9babb;
  --ds-color-aibel-neutral-base-contrast-default: #ffffff;
  --ds-color-neutral-background-default: #ffffff;
  --ds-color-neutral-background-tinted: #f3f3f4;
  --ds-color-neutral-surface-default: #ffffff;
  --ds-color-neutral-surface-tinted: #e8e8e9;
  --ds-color-neutral-surface-hover: #d9dadb;
  --ds-color-neutral-surface-active: #c9cacb;
  --ds-color-neutral-border-subtle: #bbbcbd;
  --ds-color-neutral-border-default: #77797b;
  --ds-color-neutral-border-strong: #5b5d60;
  --ds-color-neutral-text-subtle: #5b5d60;
  --ds-color-neutral-text-default: #292c30;
  --ds-color-neutral-base-default: #24272B;
  --ds-color-neutral-base-hover: #36383c;
  --ds-color-neutral-base-active: #484a4e;
  --ds-color-neutral-base-contrast-subtle: #b9babb;
  --ds-color-neutral-base-contrast-default: #ffffff;
  --ds-color-info-background-default: #ffffff;
  --ds-color-info-background-tinted: #eff4ff;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #e0e9ff;
  --ds-color-info-surface-hover: #cbdaff;
  --ds-color-info-surface-active: #b4caff;
  --ds-color-info-border-subtle: #9fbbff;
  --ds-color-info-border-default: #4e75d4;
  --ds-color-info-border-strong: #3d5aa4;
  --ds-color-info-text-subtle: #3d5aa4;
  --ds-color-info-text-default: #1c2a4d;
  --ds-color-info-base-default: #5E8CFF;
  --ds-color-info-base-hover: #7fa4ff;
  --ds-color-info-base-active: #a0bbff;
  --ds-color-info-base-contrast-subtle: #010102;
  --ds-color-info-base-contrast-default: #000000;
  --ds-color-success-background-default: #ffffff;
  --ds-color-success-background-tinted: #f0f5f1;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #e2ebe4;
  --ds-color-success-surface-hover: #d0ddd3;
  --ds-color-success-surface-active: #bbcfc0;
  --ds-color-success-border-subtle: #a9c2af;
  --ds-color-success-border-default: #51845e;
  --ds-color-success-border-strong: #2d693c;
  --ds-color-success-text-subtle: #2d693c;
  --ds-color-success-text-default: #15311c;
  --ds-color-success-base-default: #2E6B3D;
  --ds-color-success-base-hover: #255631;
  --ds-color-success-base-active: #1c4225;
  --ds-color-success-base-contrast-subtle: #dbe6de;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #ffffff;
  --ds-color-warning-background-tinted: #fdf2e2;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #fbe6c5;
  --ds-color-warning-surface-hover: #f9d59e;
  --ds-color-warning-surface-active: #f6c171;
  --ds-color-warning-border-subtle: #f3af47;
  --ds-color-warning-border-default: #ad6900;
  --ds-color-warning-border-strong: #865100;
  --ds-color-warning-text-subtle: #865100;
  --ds-color-warning-text-default: #3f2600;
  --ds-color-warning-base-default: #EE9000;
  --ds-color-warning-base-hover: #d07e00;
  --ds-color-warning-base-active: #b26c00;
  --ds-color-warning-base-contrast-subtle: #231500;
  --ds-color-warning-base-contrast-default: #000000;
  --ds-color-danger-background-default: #ffffff;
  --ds-color-danger-background-tinted: #faf2ef;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #f6e5e0;
  --ds-color-danger-surface-hover: #f0d4cc;
  --ds-color-danger-surface-active: #e9c1b5;
  --ds-color-danger-border-subtle: #e3b0a1;
  --ds-color-danger-border-default: #c45838;
  --ds-color-danger-border-strong: #b12a00;
  --ds-color-danger-text-subtle: #b12a00;
  --ds-color-danger-text-default: #551400;
  --ds-color-danger-base-default: #B32A00;
  --ds-color-danger-base-hover: #902200;
  --ds-color-danger-base-active: #6f1a00;
  --ds-color-danger-base-contrast-subtle: #ffffff;
  --ds-color-danger-base-contrast-default: #ffffff;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #292c30;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}

}

}

@layer ds.theme.typography.secondary {
[data-typography="secondary"] {
  --ds-line-height-sm: 1.3;
  --ds-line-height-md: 1.5;
  --ds-line-height-lg: 1.7;
  --ds-letter-spacing-1: -0.01em;
  --ds-letter-spacing-2: -0.005em;
  --ds-letter-spacing-3: -0.0025em;
  --ds-letter-spacing-4: -0.0015em;
  --ds-letter-spacing-5: 0em;
  --ds-letter-spacing-6: 0.0015em;
  --ds-letter-spacing-7: 0.0025em;
  --ds-letter-spacing-8: 0.005em;
  --ds-letter-spacing-9: 0.015em;
  --ds-font-family: Inter;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-regular: 400;
  --ds-heading-2xl-font-weight: 500;
  --ds-heading-2xl-line-height: 1.3;
  --ds-heading-2xl-letter-spacing: -0.01em;
  --ds-heading-xl-font-weight: 500;
  --ds-heading-xl-line-height: 1.3;
  --ds-heading-xl-letter-spacing: -0.01em;
  --ds-heading-lg-font-weight: 500;
  --ds-heading-lg-line-height: 1.3;
  --ds-heading-lg-letter-spacing: -0.005em;
  --ds-heading-md-font-weight: 500;
  --ds-heading-md-line-height: 1.3;
  --ds-heading-md-letter-spacing: -0.0025em;
  --ds-heading-sm-font-weight: 500;
  --ds-heading-sm-line-height: 1.3;
  --ds-heading-sm-letter-spacing: 0em;
  --ds-heading-xs-font-weight: 500;
  --ds-heading-xs-line-height: 1.3;
  --ds-heading-xs-letter-spacing: 0.0015em;
  --ds-heading-2xs-font-weight: 500;
  --ds-heading-2xs-line-height: 1.3;
  --ds-heading-2xs-letter-spacing: 0.0015em;
  --ds-body-xl-font-weight: 400;
  --ds-body-xl-line-height: 1.5;
  --ds-body-xl-letter-spacing: 0.005em;
  --ds-body-lg-font-weight: 400;
  --ds-body-lg-line-height: 1.5;
  --ds-body-lg-letter-spacing: 0.005em;
  --ds-body-md-font-weight: 400;
  --ds-body-md-line-height: 1.5;
  --ds-body-md-letter-spacing: 0.005em;
  --ds-body-sm-font-weight: 400;
  --ds-body-sm-line-height: 1.5;
  --ds-body-sm-letter-spacing: 0.0025em;
  --ds-body-xs-font-weight: 400;
  --ds-body-xs-line-height: 1.5;
  --ds-body-xs-letter-spacing: 0.0015em;
  --ds-body-short-xl-font-weight: 400;
  --ds-body-short-xl-line-height: 1.3;
  --ds-body-short-xl-letter-spacing: 0.005em;
  --ds-body-short-lg-font-weight: 400;
  --ds-body-short-lg-line-height: 1.3;
  --ds-body-short-lg-letter-spacing: 0.005em;
  --ds-body-short-md-font-weight: 400;
  --ds-body-short-md-line-height: 1.3;
  --ds-body-short-md-letter-spacing: 0.005em;
  --ds-body-short-sm-font-weight: 400;
  --ds-body-short-sm-line-height: 1.3;
  --ds-body-short-sm-letter-spacing: 0.0025em;
  --ds-body-short-xs-font-weight: 400;
  --ds-body-short-xs-line-height: 1.3;
  --ds-body-short-xs-letter-spacing: 0.0015em;
  --ds-body-long-xl-font-weight: 400;
  --ds-body-long-xl-line-height: 1.7;
  --ds-body-long-xl-letter-spacing: 0.005em;
  --ds-body-long-lg-font-weight: 400;
  --ds-body-long-lg-line-height: 1.7;
  --ds-body-long-lg-letter-spacing: 0.005em;
  --ds-body-long-md-font-weight: 400;
  --ds-body-long-md-line-height: 1.7;
  --ds-body-long-md-letter-spacing: 0.005em;
  --ds-body-long-sm-font-weight: 400;
  --ds-body-long-sm-line-height: 1.7;
  --ds-body-long-sm-letter-spacing: 0.0025em;
  --ds-body-long-xs-font-weight: 400;
  --ds-body-long-xs-line-height: 1.7;
  --ds-body-long-xs-letter-spacing: 0.0015em;
}
}
@layer ds.theme.size {
:root, [data-size] {
  --ds-size-base: 18;
  --ds-size-step: 4;

  --ds-size-0: calc(var(--ds-size-unit) * 0);
  --ds-size-1: calc(var(--ds-size-unit) * 1);
  --ds-size-2: calc(var(--ds-size-unit) * 2);
  --ds-size-3: calc(var(--ds-size-unit) * 3);
  --ds-size-4: calc(var(--ds-size-unit) * 4);
  --ds-size-5: calc(var(--ds-size-unit) * 5);
  --ds-size-6: calc(var(--ds-size-unit) * 6);
  --ds-size-7: calc(var(--ds-size-unit) * 7);
  --ds-size-8: calc(var(--ds-size-unit) * 8);
  --ds-size-9: calc(var(--ds-size-unit) * 9);
  --ds-size-10: calc(var(--ds-size-unit) * 10);
  --ds-size-11: calc(var(--ds-size-unit) * 11);
  --ds-size-12: calc(var(--ds-size-unit) * 12);
  --ds-size-13: calc(var(--ds-size-unit) * 13);
  --ds-size-14: calc(var(--ds-size-unit) * 14);
  --ds-size-15: calc(var(--ds-size-unit) * 15);
  --ds-size-18: calc(var(--ds-size-unit) * 18);
  --ds-size-22: calc(var(--ds-size-unit) * 22);
  --ds-size-26: calc(var(--ds-size-unit) * 26);
  --ds-size-30: calc(var(--ds-size-unit) * 30);
  --ds-size-unit: calc(1rem * var(--ds-size-step) / var(--ds-size-base) * var(--ds-size-mode-font-size));

  @supports (width: round(down, .1em, 1px)) {
    --ds-size-0: round(down, calc(var(--ds-size-unit) * 0), 1px);
    --ds-size-1: round(down, calc(var(--ds-size-unit) * 1), 1px);
    --ds-size-2: round(down, calc(var(--ds-size-unit) * 2), 1px);
    --ds-size-3: round(down, calc(var(--ds-size-unit) * 3), 1px);
    --ds-size-4: round(down, calc(var(--ds-size-unit) * 4), 1px);
    --ds-size-5: round(down, calc(var(--ds-size-unit) * 5), 1px);
    --ds-size-6: round(down, calc(var(--ds-size-unit) * 6), 1px);
    --ds-size-7: round(down, calc(var(--ds-size-unit) * 7), 1px);
    --ds-size-8: round(down, calc(var(--ds-size-unit) * 8), 1px);
    --ds-size-9: round(down, calc(var(--ds-size-unit) * 9), 1px);
    --ds-size-10: round(down, calc(var(--ds-size-unit) * 10), 1px);
    --ds-size-11: round(down, calc(var(--ds-size-unit) * 11), 1px);
    --ds-size-12: round(down, calc(var(--ds-size-unit) * 12), 1px);
    --ds-size-13: round(down, calc(var(--ds-size-unit) * 13), 1px);
    --ds-size-14: round(down, calc(var(--ds-size-unit) * 14), 1px);
    --ds-size-15: round(down, calc(var(--ds-size-unit) * 15), 1px);
    --ds-size-18: round(down, calc(var(--ds-size-unit) * 18), 1px);
    --ds-size-22: round(down, calc(var(--ds-size-unit) * 22), 1px);
    --ds-size-26: round(down, calc(var(--ds-size-unit) * 26), 1px);
    --ds-size-30: round(down, calc(var(--ds-size-unit) * 30), 1px);
  }
}

}

@layer ds.theme.semantic {
:root {
  --ds-border-radius-base: 0.5rem;
  --ds-border-radius-scale: 0.25rem;
  --ds-border-radius-sm: min(var(--ds-border-radius-base)*0.5,var(--ds-border-radius-scale));
  --ds-border-radius-md: min(var(--ds-border-radius-base),var(--ds-border-radius-scale)*2);
  --ds-border-radius-lg: min(var(--ds-border-radius-base)*2,var(--ds-border-radius-scale)*5);
  --ds-border-radius-xl: min(var(--ds-border-radius-base)*3,var(--ds-border-radius-scale)*7);
  --ds-border-radius-default: var(--ds-border-radius-base);
  --ds-border-radius-full: 624.9375rem;
  --ds-border-width-default: 1px;
  --ds-border-width-focus: 3px;
  --ds-shadow-xs: 0 0 1px 0 rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.12);
  --ds-shadow-sm: 0 0 1px 0 rgba(0,0,0,0.15), 0 1px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.1);
  --ds-shadow-md: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.12);
  --ds-shadow-lg: 0 0 1px 0 rgba(0,0,0,0.13), 0 3px 5px 0 rgba(0,0,0,0.13), 0 6px 12px 0 rgba(0,0,0,0.14);
  --ds-shadow-xl: 0 0 1px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.16), 0 12px 24px 0 rgba(0,0,0,0.16);
  --ds-opacity-disabled: 30%;
}

}

@layer ds.theme.color-scheme.dark {
[data-color-scheme="dark"] {
  --ds-color-aibel-bright-blue-background-default: #091635;
  --ds-color-aibel-bright-blue-background-tinted: #0c1d45;
  --ds-color-aibel-bright-blue-surface-default: #0f2557;
  --ds-color-aibel-bright-blue-surface-tinted: #112a64;
  --ds-color-aibel-bright-blue-surface-hover: #143174;
  --ds-color-aibel-bright-blue-surface-active: #193d90;
  --ds-color-aibel-bright-blue-border-subtle: #2b4c99;
  --ds-color-aibel-bright-blue-border-default: #6981b7;
  --ds-color-aibel-bright-blue-border-strong: #98a8cd;
  --ds-color-aibel-bright-blue-text-subtle: #98a8cd;
  --ds-color-aibel-bright-blue-text-default: #e9ecf4;
  --ds-color-aibel-bright-blue-base-default: #97aadf;
  --ds-color-aibel-bright-blue-base-hover: #7c95d6;
  --ds-color-aibel-bright-blue-base-active: #607ece;
  --ds-color-aibel-bright-blue-base-contrast-subtle: #181b23;
  --ds-color-aibel-bright-blue-base-contrast-default: #000000;
  --ds-color-aibel-blue-background-default: #0a182b;
  --ds-color-aibel-blue-background-tinted: #0d2038;
  --ds-color-aibel-blue-surface-default: #102847;
  --ds-color-aibel-blue-surface-tinted: #162e4e;
  --ds-color-aibel-blue-surface-hover: #1f3654;
  --ds-color-aibel-blue-surface-active: #2e4460;
  --ds-color-aibel-blue-border-subtle: #3d516b;
  --ds-color-aibel-blue-border-default: #748395;
  --ds-color-aibel-blue-border-strong: #9fa9b6;
  --ds-color-aibel-blue-text-subtle: #9fa9b6;
  --ds-color-aibel-blue-text-default: #eaecef;
  --ds-color-aibel-blue-base-default: #9dadbf;
  --ds-color-aibel-blue-base-hover: #8598af;
  --ds-color-aibel-blue-base-active: #6c839e;
  --ds-color-aibel-blue-base-contrast-subtle: #1a1c1f;
  --ds-color-aibel-blue-base-contrast-default: #000000;
  --ds-color-aibel-green-background-default: #101a12;
  --ds-color-aibel-green-background-tinted: #152318;
  --ds-color-aibel-green-surface-default: #1b2c1e;
  --ds-color-aibel-green-surface-tinted: #1f3223;
  --ds-color-aibel-green-surface-hover: #243a28;
  --ds-color-aibel-green-surface-active: #2d4933;
  --ds-color-aibel-green-border-subtle: #36583c;
  --ds-color-aibel-green-border-default: #6a8970;
  --ds-color-aibel-green-border-strong: #98ad9c;
  --ds-color-aibel-green-text-subtle: #98ad9c;
  --ds-color-aibel-green-text-default: #e9edea;
  --ds-color-aibel-green-base-default: #709a7a;
  --ds-color-aibel-green-base-hover: #8bad94;
  --ds-color-aibel-green-base-active: #a8c1ae;
  --ds-color-aibel-green-base-contrast-subtle: #151d17;
  --ds-color-aibel-green-base-contrast-default: #000000;
  --ds-color-aibel-neutral-background-default: #17181a;
  --ds-color-aibel-neutral-background-tinted: #1e2022;
  --ds-color-aibel-neutral-surface-default: #26282b;
  --ds-color-aibel-neutral-surface-tinted: #2c2e31;
  --ds-color-aibel-neutral-surface-hover: #343538;
  --ds-color-aibel-neutral-surface-active: #414346;
  --ds-color-aibel-neutral-border-subtle: #4e5052;
  --ds-color-aibel-neutral-border-default: #808183;
  --ds-color-aibel-neutral-border-strong: #a7a8a9;
  --ds-color-aibel-neutral-text-subtle: #a7a8a9;
  --ds-color-aibel-neutral-text-default: #ececec;
  --ds-color-aibel-neutral-base-default: #aaabad;
  --ds-color-aibel-neutral-base-hover: #959698;
  --ds-color-aibel-neutral-base-active: #7f8184;
  --ds-color-aibel-neutral-base-contrast-subtle: #1b1b1b;
  --ds-color-aibel-neutral-base-contrast-default: #000000;
  --ds-color-neutral-background-default: #17181a;
  --ds-color-neutral-background-tinted: #1e2022;
  --ds-color-neutral-surface-default: #26282b;
  --ds-color-neutral-surface-tinted: #2c2e31;
  --ds-color-neutral-surface-hover: #343538;
  --ds-color-neutral-surface-active: #414346;
  --ds-color-neutral-border-subtle: #4e5052;
  --ds-color-neutral-border-default: #808183;
  --ds-color-neutral-border-strong: #a7a8a9;
  --ds-color-neutral-text-subtle: #a7a8a9;
  --ds-color-neutral-text-default: #ececec;
  --ds-color-neutral-base-default: #aaabad;
  --ds-color-neutral-base-hover: #959698;
  --ds-color-neutral-base-active: #7f8184;
  --ds-color-neutral-base-contrast-subtle: #1b1b1b;
  --ds-color-neutral-base-contrast-default: #000000;
  --ds-color-info-background-default: #121825;
  --ds-color-info-background-tinted: #181f30;
  --ds-color-info-surface-default: #1e283d;
  --ds-color-info-surface-tinted: #222d46;
  --ds-color-info-surface-hover: #283552;
  --ds-color-info-surface-active: #324267;
  --ds-color-info-border-subtle: #3c4f7a;
  --ds-color-info-border-default: #6180c6;
  --ds-color-info-border-strong: #8ba7e6;
  --ds-color-info-text-subtle: #8ba7e6;
  --ds-color-info-text-default: #e6ecfa;
  --ds-color-info-base-default: #3d5ba6;
  --ds-color-info-base-hover: #314984;
  --ds-color-info-base-active: #253765;
  --ds-color-info-base-contrast-subtle: #ffffff;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-success-background-default: #101a12;
  --ds-color-success-background-tinted: #152318;
  --ds-color-success-surface-default: #1b2c1e;
  --ds-color-success-surface-tinted: #1f3223;
  --ds-color-success-surface-hover: #243a28;
  --ds-color-success-surface-active: #2d4933;
  --ds-color-success-border-subtle: #36583c;
  --ds-color-success-border-default: #6a8970;
  --ds-color-success-border-strong: #98ad9c;
  --ds-color-success-text-subtle: #98ad9c;
  --ds-color-success-text-default: #e9edea;
  --ds-color-success-base-default: #709a7a;
  --ds-color-success-base-hover: #8bad94;
  --ds-color-success-base-active: #a8c1ae;
  --ds-color-success-base-contrast-subtle: #151d17;
  --ds-color-success-base-contrast-default: #000000;
  --ds-color-warning-background-default: #1f160c;
  --ds-color-warning-background-tinted: #291d10;
  --ds-color-warning-surface-default: #342515;
  --ds-color-warning-surface-tinted: #3c2a18;
  --ds-color-warning-surface-hover: #46311b;
  --ds-color-warning-surface-active: #583e22;
  --ds-color-warning-border-subtle: #694a29;
  --ds-color-warning-border-default: #a97742;
  --ds-color-warning-border-strong: #db9a57;
  --ds-color-warning-text-subtle: #db9a57;
  --ds-color-warning-text-default: #f8eadc;
  --ds-color-warning-base-default: #6c4100;
  --ds-color-warning-base-hover: #533200;
  --ds-color-warning-base-active: #3a2300;
  --ds-color-warning-base-contrast-subtle: #ece6de;
  --ds-color-warning-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #28120c;
  --ds-color-danger-background-tinted: #351710;
  --ds-color-danger-surface-default: #421d14;
  --ds-color-danger-surface-tinted: #4c2117;
  --ds-color-danger-surface-hover: #58271a;
  --ds-color-danger-surface-active: #6f3021;
  --ds-color-danger-border-subtle: #843927;
  --ds-color-danger-border-default: #b46f5e;
  --ds-color-danger-border-strong: #cc9d91;
  --ds-color-danger-text-subtle: #cc9d91;
  --ds-color-danger-text-default: #f4eae8;
  --ds-color-danger-base-default: #d07b61;
  --ds-color-danger-base-hover: #d99681;
  --ds-color-danger-base-active: #e3b0a0;
  --ds-color-danger-base-contrast-subtle: #010101;
  --ds-color-danger-base-contrast-default: #000000;
  --ds-color-focus-inner: #17181a;
  --ds-color-focus-outer: #ececec;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}
 
@media (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] {
  --ds-color-aibel-bright-blue-background-default: #091635;
  --ds-color-aibel-bright-blue-background-tinted: #0c1d45;
  --ds-color-aibel-bright-blue-surface-default: #0f2557;
  --ds-color-aibel-bright-blue-surface-tinted: #112a64;
  --ds-color-aibel-bright-blue-surface-hover: #143174;
  --ds-color-aibel-bright-blue-surface-active: #193d90;
  --ds-color-aibel-bright-blue-border-subtle: #2b4c99;
  --ds-color-aibel-bright-blue-border-default: #6981b7;
  --ds-color-aibel-bright-blue-border-strong: #98a8cd;
  --ds-color-aibel-bright-blue-text-subtle: #98a8cd;
  --ds-color-aibel-bright-blue-text-default: #e9ecf4;
  --ds-color-aibel-bright-blue-base-default: #97aadf;
  --ds-color-aibel-bright-blue-base-hover: #7c95d6;
  --ds-color-aibel-bright-blue-base-active: #607ece;
  --ds-color-aibel-bright-blue-base-contrast-subtle: #181b23;
  --ds-color-aibel-bright-blue-base-contrast-default: #000000;
  --ds-color-aibel-blue-background-default: #0a182b;
  --ds-color-aibel-blue-background-tinted: #0d2038;
  --ds-color-aibel-blue-surface-default: #102847;
  --ds-color-aibel-blue-surface-tinted: #162e4e;
  --ds-color-aibel-blue-surface-hover: #1f3654;
  --ds-color-aibel-blue-surface-active: #2e4460;
  --ds-color-aibel-blue-border-subtle: #3d516b;
  --ds-color-aibel-blue-border-default: #748395;
  --ds-color-aibel-blue-border-strong: #9fa9b6;
  --ds-color-aibel-blue-text-subtle: #9fa9b6;
  --ds-color-aibel-blue-text-default: #eaecef;
  --ds-color-aibel-blue-base-default: #9dadbf;
  --ds-color-aibel-blue-base-hover: #8598af;
  --ds-color-aibel-blue-base-active: #6c839e;
  --ds-color-aibel-blue-base-contrast-subtle: #1a1c1f;
  --ds-color-aibel-blue-base-contrast-default: #000000;
  --ds-color-aibel-green-background-default: #101a12;
  --ds-color-aibel-green-background-tinted: #152318;
  --ds-color-aibel-green-surface-default: #1b2c1e;
  --ds-color-aibel-green-surface-tinted: #1f3223;
  --ds-color-aibel-green-surface-hover: #243a28;
  --ds-color-aibel-green-surface-active: #2d4933;
  --ds-color-aibel-green-border-subtle: #36583c;
  --ds-color-aibel-green-border-default: #6a8970;
  --ds-color-aibel-green-border-strong: #98ad9c;
  --ds-color-aibel-green-text-subtle: #98ad9c;
  --ds-color-aibel-green-text-default: #e9edea;
  --ds-color-aibel-green-base-default: #709a7a;
  --ds-color-aibel-green-base-hover: #8bad94;
  --ds-color-aibel-green-base-active: #a8c1ae;
  --ds-color-aibel-green-base-contrast-subtle: #151d17;
  --ds-color-aibel-green-base-contrast-default: #000000;
  --ds-color-aibel-neutral-background-default: #17181a;
  --ds-color-aibel-neutral-background-tinted: #1e2022;
  --ds-color-aibel-neutral-surface-default: #26282b;
  --ds-color-aibel-neutral-surface-tinted: #2c2e31;
  --ds-color-aibel-neutral-surface-hover: #343538;
  --ds-color-aibel-neutral-surface-active: #414346;
  --ds-color-aibel-neutral-border-subtle: #4e5052;
  --ds-color-aibel-neutral-border-default: #808183;
  --ds-color-aibel-neutral-border-strong: #a7a8a9;
  --ds-color-aibel-neutral-text-subtle: #a7a8a9;
  --ds-color-aibel-neutral-text-default: #ececec;
  --ds-color-aibel-neutral-base-default: #aaabad;
  --ds-color-aibel-neutral-base-hover: #959698;
  --ds-color-aibel-neutral-base-active: #7f8184;
  --ds-color-aibel-neutral-base-contrast-subtle: #1b1b1b;
  --ds-color-aibel-neutral-base-contrast-default: #000000;
  --ds-color-neutral-background-default: #17181a;
  --ds-color-neutral-background-tinted: #1e2022;
  --ds-color-neutral-surface-default: #26282b;
  --ds-color-neutral-surface-tinted: #2c2e31;
  --ds-color-neutral-surface-hover: #343538;
  --ds-color-neutral-surface-active: #414346;
  --ds-color-neutral-border-subtle: #4e5052;
  --ds-color-neutral-border-default: #808183;
  --ds-color-neutral-border-strong: #a7a8a9;
  --ds-color-neutral-text-subtle: #a7a8a9;
  --ds-color-neutral-text-default: #ececec;
  --ds-color-neutral-base-default: #aaabad;
  --ds-color-neutral-base-hover: #959698;
  --ds-color-neutral-base-active: #7f8184;
  --ds-color-neutral-base-contrast-subtle: #1b1b1b;
  --ds-color-neutral-base-contrast-default: #000000;
  --ds-color-info-background-default: #121825;
  --ds-color-info-background-tinted: #181f30;
  --ds-color-info-surface-default: #1e283d;
  --ds-color-info-surface-tinted: #222d46;
  --ds-color-info-surface-hover: #283552;
  --ds-color-info-surface-active: #324267;
  --ds-color-info-border-subtle: #3c4f7a;
  --ds-color-info-border-default: #6180c6;
  --ds-color-info-border-strong: #8ba7e6;
  --ds-color-info-text-subtle: #8ba7e6;
  --ds-color-info-text-default: #e6ecfa;
  --ds-color-info-base-default: #3d5ba6;
  --ds-color-info-base-hover: #314984;
  --ds-color-info-base-active: #253765;
  --ds-color-info-base-contrast-subtle: #ffffff;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-success-background-default: #101a12;
  --ds-color-success-background-tinted: #152318;
  --ds-color-success-surface-default: #1b2c1e;
  --ds-color-success-surface-tinted: #1f3223;
  --ds-color-success-surface-hover: #243a28;
  --ds-color-success-surface-active: #2d4933;
  --ds-color-success-border-subtle: #36583c;
  --ds-color-success-border-default: #6a8970;
  --ds-color-success-border-strong: #98ad9c;
  --ds-color-success-text-subtle: #98ad9c;
  --ds-color-success-text-default: #e9edea;
  --ds-color-success-base-default: #709a7a;
  --ds-color-success-base-hover: #8bad94;
  --ds-color-success-base-active: #a8c1ae;
  --ds-color-success-base-contrast-subtle: #151d17;
  --ds-color-success-base-contrast-default: #000000;
  --ds-color-warning-background-default: #1f160c;
  --ds-color-warning-background-tinted: #291d10;
  --ds-color-warning-surface-default: #342515;
  --ds-color-warning-surface-tinted: #3c2a18;
  --ds-color-warning-surface-hover: #46311b;
  --ds-color-warning-surface-active: #583e22;
  --ds-color-warning-border-subtle: #694a29;
  --ds-color-warning-border-default: #a97742;
  --ds-color-warning-border-strong: #db9a57;
  --ds-color-warning-text-subtle: #db9a57;
  --ds-color-warning-text-default: #f8eadc;
  --ds-color-warning-base-default: #6c4100;
  --ds-color-warning-base-hover: #533200;
  --ds-color-warning-base-active: #3a2300;
  --ds-color-warning-base-contrast-subtle: #ece6de;
  --ds-color-warning-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #28120c;
  --ds-color-danger-background-tinted: #351710;
  --ds-color-danger-surface-default: #421d14;
  --ds-color-danger-surface-tinted: #4c2117;
  --ds-color-danger-surface-hover: #58271a;
  --ds-color-danger-surface-active: #6f3021;
  --ds-color-danger-border-subtle: #843927;
  --ds-color-danger-border-default: #b46f5e;
  --ds-color-danger-border-strong: #cc9d91;
  --ds-color-danger-text-subtle: #cc9d91;
  --ds-color-danger-text-default: #f4eae8;
  --ds-color-danger-base-default: #d07b61;
  --ds-color-danger-base-hover: #d99681;
  --ds-color-danger-base-active: #e3b0a0;
  --ds-color-danger-base-contrast-subtle: #010101;
  --ds-color-danger-base-contrast-default: #000000;
  --ds-color-focus-inner: #17181a;
  --ds-color-focus-outer: #ececec;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}

}

}

@layer ds.theme.typography.primary {
:root, [data-typography="primary"] {
  --ds-line-height-sm: 1.3;
  --ds-line-height-md: 1.5;
  --ds-line-height-lg: 1.7;
  --ds-letter-spacing-1: -0.01em;
  --ds-letter-spacing-2: -0.005em;
  --ds-letter-spacing-3: -0.0025em;
  --ds-letter-spacing-4: -0.0015em;
  --ds-letter-spacing-5: 0em;
  --ds-letter-spacing-6: 0.0015em;
  --ds-letter-spacing-7: 0.0025em;
  --ds-letter-spacing-8: 0.005em;
  --ds-letter-spacing-9: 0.015em;
  --ds-font-family: Inter;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-regular: 400;
  --ds-heading-2xl-font-weight: 500;
  --ds-heading-2xl-line-height: 1.3;
  --ds-heading-2xl-letter-spacing: -0.01em;
  --ds-heading-xl-font-weight: 500;
  --ds-heading-xl-line-height: 1.3;
  --ds-heading-xl-letter-spacing: -0.01em;
  --ds-heading-lg-font-weight: 500;
  --ds-heading-lg-line-height: 1.3;
  --ds-heading-lg-letter-spacing: -0.005em;
  --ds-heading-md-font-weight: 500;
  --ds-heading-md-line-height: 1.3;
  --ds-heading-md-letter-spacing: -0.0025em;
  --ds-heading-sm-font-weight: 500;
  --ds-heading-sm-line-height: 1.3;
  --ds-heading-sm-letter-spacing: 0em;
  --ds-heading-xs-font-weight: 500;
  --ds-heading-xs-line-height: 1.3;
  --ds-heading-xs-letter-spacing: 0.0015em;
  --ds-heading-2xs-font-weight: 500;
  --ds-heading-2xs-line-height: 1.3;
  --ds-heading-2xs-letter-spacing: 0.0015em;
  --ds-body-xl-font-weight: 400;
  --ds-body-xl-line-height: 1.5;
  --ds-body-xl-letter-spacing: 0.005em;
  --ds-body-lg-font-weight: 400;
  --ds-body-lg-line-height: 1.5;
  --ds-body-lg-letter-spacing: 0.005em;
  --ds-body-md-font-weight: 400;
  --ds-body-md-line-height: 1.5;
  --ds-body-md-letter-spacing: 0.005em;
  --ds-body-sm-font-weight: 400;
  --ds-body-sm-line-height: 1.5;
  --ds-body-sm-letter-spacing: 0.0025em;
  --ds-body-xs-font-weight: 400;
  --ds-body-xs-line-height: 1.5;
  --ds-body-xs-letter-spacing: 0.0015em;
  --ds-body-short-xl-font-weight: 400;
  --ds-body-short-xl-line-height: 1.3;
  --ds-body-short-xl-letter-spacing: 0.005em;
  --ds-body-short-lg-font-weight: 400;
  --ds-body-short-lg-line-height: 1.3;
  --ds-body-short-lg-letter-spacing: 0.005em;
  --ds-body-short-md-font-weight: 400;
  --ds-body-short-md-line-height: 1.3;
  --ds-body-short-md-letter-spacing: 0.005em;
  --ds-body-short-sm-font-weight: 400;
  --ds-body-short-sm-line-height: 1.3;
  --ds-body-short-sm-letter-spacing: 0.0025em;
  --ds-body-short-xs-font-weight: 400;
  --ds-body-short-xs-line-height: 1.3;
  --ds-body-short-xs-letter-spacing: 0.0015em;
  --ds-body-long-xl-font-weight: 400;
  --ds-body-long-xl-line-height: 1.7;
  --ds-body-long-xl-letter-spacing: 0.005em;
  --ds-body-long-lg-font-weight: 400;
  --ds-body-long-lg-line-height: 1.7;
  --ds-body-long-lg-letter-spacing: 0.005em;
  --ds-body-long-md-font-weight: 400;
  --ds-body-long-md-line-height: 1.7;
  --ds-body-long-md-letter-spacing: 0.005em;
  --ds-body-long-sm-font-weight: 400;
  --ds-body-long-sm-line-height: 1.7;
  --ds-body-long-sm-letter-spacing: 0.0025em;
  --ds-body-long-xs-font-weight: 400;
  --ds-body-long-xs-line-height: 1.7;
  --ds-body-long-xs-letter-spacing: 0.0015em;
}
}
@layer ds.theme.color {
[data-color="aibel-blue"], [data-color-scheme][data-color="aibel-blue"] {
  --ds-color-background-default: var(--ds-color-aibel-blue-background-default);
  --ds-color-background-tinted: var(--ds-color-aibel-blue-background-tinted);
  --ds-color-surface-default: var(--ds-color-aibel-blue-surface-default);
  --ds-color-surface-tinted: var(--ds-color-aibel-blue-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-aibel-blue-surface-hover);
  --ds-color-surface-active: var(--ds-color-aibel-blue-surface-active);
  --ds-color-border-subtle: var(--ds-color-aibel-blue-border-subtle);
  --ds-color-border-default: var(--ds-color-aibel-blue-border-default);
  --ds-color-border-strong: var(--ds-color-aibel-blue-border-strong);
  --ds-color-text-subtle: var(--ds-color-aibel-blue-text-subtle);
  --ds-color-text-default: var(--ds-color-aibel-blue-text-default);
  --ds-color-base-default: var(--ds-color-aibel-blue-base-default);
  --ds-color-base-hover: var(--ds-color-aibel-blue-base-hover);
  --ds-color-base-active: var(--ds-color-aibel-blue-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-aibel-blue-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-aibel-blue-base-contrast-default);
}

}

@layer ds.theme.color {
:root, [data-color-scheme], [data-color="aibel-bright-blue"] {
  --ds-color-background-default: var(--ds-color-aibel-bright-blue-background-default);
  --ds-color-background-tinted: var(--ds-color-aibel-bright-blue-background-tinted);
  --ds-color-surface-default: var(--ds-color-aibel-bright-blue-surface-default);
  --ds-color-surface-tinted: var(--ds-color-aibel-bright-blue-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-aibel-bright-blue-surface-hover);
  --ds-color-surface-active: var(--ds-color-aibel-bright-blue-surface-active);
  --ds-color-border-subtle: var(--ds-color-aibel-bright-blue-border-subtle);
  --ds-color-border-default: var(--ds-color-aibel-bright-blue-border-default);
  --ds-color-border-strong: var(--ds-color-aibel-bright-blue-border-strong);
  --ds-color-text-subtle: var(--ds-color-aibel-bright-blue-text-subtle);
  --ds-color-text-default: var(--ds-color-aibel-bright-blue-text-default);
  --ds-color-base-default: var(--ds-color-aibel-bright-blue-base-default);
  --ds-color-base-hover: var(--ds-color-aibel-bright-blue-base-hover);
  --ds-color-base-active: var(--ds-color-aibel-bright-blue-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-aibel-bright-blue-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-aibel-bright-blue-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="aibel-green"], [data-color-scheme][data-color="aibel-green"] {
  --ds-color-background-default: var(--ds-color-aibel-green-background-default);
  --ds-color-background-tinted: var(--ds-color-aibel-green-background-tinted);
  --ds-color-surface-default: var(--ds-color-aibel-green-surface-default);
  --ds-color-surface-tinted: var(--ds-color-aibel-green-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-aibel-green-surface-hover);
  --ds-color-surface-active: var(--ds-color-aibel-green-surface-active);
  --ds-color-border-subtle: var(--ds-color-aibel-green-border-subtle);
  --ds-color-border-default: var(--ds-color-aibel-green-border-default);
  --ds-color-border-strong: var(--ds-color-aibel-green-border-strong);
  --ds-color-text-subtle: var(--ds-color-aibel-green-text-subtle);
  --ds-color-text-default: var(--ds-color-aibel-green-text-default);
  --ds-color-base-default: var(--ds-color-aibel-green-base-default);
  --ds-color-base-hover: var(--ds-color-aibel-green-base-hover);
  --ds-color-base-active: var(--ds-color-aibel-green-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-aibel-green-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-aibel-green-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="aibel-neutral"], [data-color-scheme][data-color="aibel-neutral"] {
  --ds-color-background-default: var(--ds-color-aibel-neutral-background-default);
  --ds-color-background-tinted: var(--ds-color-aibel-neutral-background-tinted);
  --ds-color-surface-default: var(--ds-color-aibel-neutral-surface-default);
  --ds-color-surface-tinted: var(--ds-color-aibel-neutral-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-aibel-neutral-surface-hover);
  --ds-color-surface-active: var(--ds-color-aibel-neutral-surface-active);
  --ds-color-border-subtle: var(--ds-color-aibel-neutral-border-subtle);
  --ds-color-border-default: var(--ds-color-aibel-neutral-border-default);
  --ds-color-border-strong: var(--ds-color-aibel-neutral-border-strong);
  --ds-color-text-subtle: var(--ds-color-aibel-neutral-text-subtle);
  --ds-color-text-default: var(--ds-color-aibel-neutral-text-default);
  --ds-color-base-default: var(--ds-color-aibel-neutral-base-default);
  --ds-color-base-hover: var(--ds-color-aibel-neutral-base-hover);
  --ds-color-base-active: var(--ds-color-aibel-neutral-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-aibel-neutral-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-aibel-neutral-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="danger"], [data-color-scheme][data-color="danger"] {
  --ds-color-background-default: var(--ds-color-danger-background-default);
  --ds-color-background-tinted: var(--ds-color-danger-background-tinted);
  --ds-color-surface-default: var(--ds-color-danger-surface-default);
  --ds-color-surface-tinted: var(--ds-color-danger-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-danger-surface-hover);
  --ds-color-surface-active: var(--ds-color-danger-surface-active);
  --ds-color-border-subtle: var(--ds-color-danger-border-subtle);
  --ds-color-border-default: var(--ds-color-danger-border-default);
  --ds-color-border-strong: var(--ds-color-danger-border-strong);
  --ds-color-text-subtle: var(--ds-color-danger-text-subtle);
  --ds-color-text-default: var(--ds-color-danger-text-default);
  --ds-color-base-default: var(--ds-color-danger-base-default);
  --ds-color-base-hover: var(--ds-color-danger-base-hover);
  --ds-color-base-active: var(--ds-color-danger-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-danger-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-danger-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="info"], [data-color-scheme][data-color="info"] {
  --ds-color-background-default: var(--ds-color-info-background-default);
  --ds-color-background-tinted: var(--ds-color-info-background-tinted);
  --ds-color-surface-default: var(--ds-color-info-surface-default);
  --ds-color-surface-tinted: var(--ds-color-info-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-info-surface-hover);
  --ds-color-surface-active: var(--ds-color-info-surface-active);
  --ds-color-border-subtle: var(--ds-color-info-border-subtle);
  --ds-color-border-default: var(--ds-color-info-border-default);
  --ds-color-border-strong: var(--ds-color-info-border-strong);
  --ds-color-text-subtle: var(--ds-color-info-text-subtle);
  --ds-color-text-default: var(--ds-color-info-text-default);
  --ds-color-base-default: var(--ds-color-info-base-default);
  --ds-color-base-hover: var(--ds-color-info-base-hover);
  --ds-color-base-active: var(--ds-color-info-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-info-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-info-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="neutral"], [data-color-scheme][data-color="neutral"] {
  --ds-color-background-default: var(--ds-color-neutral-background-default);
  --ds-color-background-tinted: var(--ds-color-neutral-background-tinted);
  --ds-color-surface-default: var(--ds-color-neutral-surface-default);
  --ds-color-surface-tinted: var(--ds-color-neutral-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-neutral-surface-hover);
  --ds-color-surface-active: var(--ds-color-neutral-surface-active);
  --ds-color-border-subtle: var(--ds-color-neutral-border-subtle);
  --ds-color-border-default: var(--ds-color-neutral-border-default);
  --ds-color-border-strong: var(--ds-color-neutral-border-strong);
  --ds-color-text-subtle: var(--ds-color-neutral-text-subtle);
  --ds-color-text-default: var(--ds-color-neutral-text-default);
  --ds-color-base-default: var(--ds-color-neutral-base-default);
  --ds-color-base-hover: var(--ds-color-neutral-base-hover);
  --ds-color-base-active: var(--ds-color-neutral-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-neutral-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-neutral-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="success"], [data-color-scheme][data-color="success"] {
  --ds-color-background-default: var(--ds-color-success-background-default);
  --ds-color-background-tinted: var(--ds-color-success-background-tinted);
  --ds-color-surface-default: var(--ds-color-success-surface-default);
  --ds-color-surface-tinted: var(--ds-color-success-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-success-surface-hover);
  --ds-color-surface-active: var(--ds-color-success-surface-active);
  --ds-color-border-subtle: var(--ds-color-success-border-subtle);
  --ds-color-border-default: var(--ds-color-success-border-default);
  --ds-color-border-strong: var(--ds-color-success-border-strong);
  --ds-color-text-subtle: var(--ds-color-success-text-subtle);
  --ds-color-text-default: var(--ds-color-success-text-default);
  --ds-color-base-default: var(--ds-color-success-base-default);
  --ds-color-base-hover: var(--ds-color-success-base-hover);
  --ds-color-base-active: var(--ds-color-success-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-success-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-success-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="warning"], [data-color-scheme][data-color="warning"] {
  --ds-color-background-default: var(--ds-color-warning-background-default);
  --ds-color-background-tinted: var(--ds-color-warning-background-tinted);
  --ds-color-surface-default: var(--ds-color-warning-surface-default);
  --ds-color-surface-tinted: var(--ds-color-warning-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-warning-surface-hover);
  --ds-color-surface-active: var(--ds-color-warning-surface-active);
  --ds-color-border-subtle: var(--ds-color-warning-border-subtle);
  --ds-color-border-default: var(--ds-color-warning-border-default);
  --ds-color-border-strong: var(--ds-color-warning-border-strong);
  --ds-color-text-subtle: var(--ds-color-warning-text-subtle);
  --ds-color-text-default: var(--ds-color-warning-text-default);
  --ds-color-base-default: var(--ds-color-warning-base-default);
  --ds-color-base-hover: var(--ds-color-warning-base-hover);
  --ds-color-base-active: var(--ds-color-warning-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-warning-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-warning-base-contrast-default);
}

}
