@import "tailwindcss" prefix(ads);
@import "@digdir/designsystemet-css";
@import "../design-tokens-build/aibel-theme.css";

/* Register design tokens or custom properties with Tailwind */
/* eslint-disable */
@theme {
    /* Your theme variables go here */
    --color-aibel-blue-base-default: #032B59;
}

/* eslint-enable */
ol,
ul,
menu {
    list-style: revert;
}

.ds-button[data-color=white] {
    --dsc-button-color--hover: var(--ds-color-neutral-text-subtle);
    --dsc-button-color: var(--ds-color-base-contrast-default);
    --dsc-button-border-color:var(--ds-color-base-contrast-default);
  } 
  
.ds-search input {
    border-top-left-radius: var(--ds-border-radius-default);
    border-bottom-left-radius: var(--ds-border-radius-default);
}

.ds-tooltip {
    --dsc-tooltip-border-radius: var(--ds-border-radius-sm);
    border: 1px solid var(--ds-color-text-default);
}

/* eslint-disable */
.dark {
    /* Dark mode overrides */
}

/* eslint-enable */
